body {
  margin-bottom: 60px; /* Margin bottom by footer height */

  /* Ensure the html element always takes up the full height of the browser window */
  /* The Magic */
  background-size: cover;
  min-height: 100vh;
  /*padding-top: 20px;*/
  padding-bottom: 20px;
}

body, html {
    height: 100%;
}

.parallax { 
    /* The image used */
  background-image: url('http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-169280.jpg');

    /* Full height */
    height: 100%;
    width: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grey {
  background-color: #ECECEC !important;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
  border-top: 0.5px solid var(--grey);
}


#navbar {
  margin-bottom: 0 !important;
}

.carat {
  position: absolute;
  left: 40%;
}

.second-index {
  margin-top: 60px;
}

.hero-text {
  padding-top: 60px;
}

.not-on-mobile {
  display: none !important;
}

.only-on-mobile {
  display: unset !important;
}

.mobile-center {
  text-align: center !important;
}

.row {
  padding-bottom: 20px;
}

.display-3 {
  font-size: 2rem;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.hero-text {
  width: 75%;
}

.mobile-push{
  padding-left: 15px;
  padding-right: 15px;
}

.img-fluid {
  max-width: 90%;
}

@media screen and (min-width: 768px) {
  .display-3 {
    font-size: 3.25rem;
  }

  h2 {
    font-size: 18px;
  }

  .img-fluid {
    max-width: 90%;
  }

  .mobile-push{
    padding-left: unset;
    padding-right: unset;
  }
}

@media screen and (min-width: 992px) {
  .fifty {
    height: 500px;
  }

  .mobile-center {
    text-align: unset !important;
  }

  .row {
    padding-bottom: unset;
  }

  .eighty {
    height: 600px;
  }

  #diagram {
    margin-left: 60px;
    margin-bottom: 30px;
  }

  .display-3 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 24px;
  }

  .hero-text{
    padding-top: 0;
  }

  .desktop-center {
    text-align: center !important;
  }
}


