:root {
  /* Defining Global color choices */
  --black: #000000;
  --grey: #464646;
  --light-grey: #EEEEEE;
  --red: #900000;
};

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.not-on-mobile {
  display: none !important;
}

.only-on-mobile {
  display: unset !important;
}

@media screen and (min-width: 801px) {
  .not-on-mobile {
    display: unset !important;
  }

  .only-on-mobile {
    display: none !important;
  }
}

button {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: white;
  text-transform: uppercase;
}

a {
  color: var(--red);
}

a.active {
  background-color: var(--red) !important;
}

.grey {
  background-color: var(--grey);
}

.light-grey {
  background-color: var(--light-grey);
}

a.active.white-text {
  background-color: var(--red) !important;
  color: white !important;
}

.text-red {
  color: var(--red);
}

.white-text {
  color: white !important;
}

.black-text {
  color: black !important;
}

a.navbar-brand:hover {
  text-decoration: underline;
}

a.nav-link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: white !important;
  text-transform: uppercase;
}

a.nav-link:hover {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: white !important;
  text-transform: uppercase;
  text-decoration: underline;
}

a.navbar-brand {
  color: white !important;
  text-transform: uppercase; 
}

.active>.nav-link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: white !important;
  text-transform: uppercase; 
}

.active>.nav-link:hover  {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: white !important;
  text-transform: uppercase;
  text-decoration: underline; 
}

hr {
  height: 1px;
}

hr.red {
  height: 3px;
  background-color: var(--red);
}

nav {
  margin-bottom: 20px;
}

.navbar {
  background-color: var(--grey) !important;
  position: unset;
  width: 100%;
}

.navbar-collapse {
  z-index: 999;
  background-color: var(--grey) !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  font-family: 'Roboto';
}

.image-holder {
  height: 10%;
}

.image-holder img {
  display: block;
  max-width: 60% !important;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.cent-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: black;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: black;
}

p, body {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}

.lead {
  font-size: 64px;
  line-height: 75px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

.font-large {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
  border-top: 0.5px solid var(--grey);
}

/* Place text in the middle of the image */
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Place text in the middle of the image */
.low-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.bottom {
  margin-bottom: 4%;
}

/* Sepia */
.hover09 img {
  -webkit-filter: sepia(20%);
  filter: sepia(20%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover09:hover img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}

.delayed-short {
  -webkit-animation-delay: 0.3s;
}

.delayed {
  -webkit-animation-delay: 0.8s;
}

.delayed-2 {
  -webkit-animation-delay: 1.3s !important;
}

#navbar {
  margin-bottom: 1%;
}


.sidenav {
   margin-top: 4%;
   height: 100%; /* Full-height: remove this if you want "auto" height */
   width: 10%;  /*Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 10%;
   background-color: #FFFFFF; /* Black */
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 20px;
}

.inner-row {
  padding-right: 0;
  padding-left: 0;
}

.give-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pad-20 {
  padding: 20px;
}

@media screen and (max-width: 576px) {
  .position-fixed {
    position: unset !important;
  }
  .container {
    width: 90% !important;
  }
  .inner-row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .inner-row-push {
    padding-right: 15px;
    padding-left: 15px;
  }
  /* Place text in the middle of the image */
  .low-text {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .position-fixed {
    position: unset !important;
  }
  .inner-row-push {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 769px) and  (max-width: 992px) {
  .position-fixed {
    position: unset !important;
  }
  .inner-row-push {
    padding-right: 0px;
    padding-left: 0px;
  }
}
